{% extends 'base.html' %}

{% block content %}
    <div class="container py-4" style="background-color: #f0f0f0; border-radius: 8px;">
        <h2 class="text-center mb-4">Catálogo de Produtos</h2>
        <div class="row">
            {% for product in productsjson %}
                <div class="col-md-3 mb-4">
                    <div class="card shadow-sm" style="width: 16rem; border-radius: 8px;">
                        <img src="{{ product['image'] }}" alt="{{ product['title'] }}" class="card-img-top" style="border-radius: 8px 8px 0 0; height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product['title'] }}</h5>
                            <p class="card-text text-muted">{{ product['category'] }}</p>
                            <p class="card-text"><strong>Preço:</strong> R$ {{ product['value'] }}</p>
                            <a href="{{ url_for('product', id=product['id']) }}" class="btn btn-dark w-100">Mais Informações</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

