{% extends 'base.html' %}

{% block content %}
    <div class="container py-4" style="background-color: #f0f0f0; border-radius: 8px;">
        <a href="{{ url_for('catalog') }}" class="btn btn-dark mb-4">Todos os produtos</a>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card shadow-sm">
                    <img src="{{ productInfo['image'] }}" alt="{{ productInfo['title'] }}" class="card-img-top" style="height: 300px; object-fit: cover; border-radius: 8px 8px 0 0;">
                    <div class="card-body">
                        <h3 class="card-title">{{ productInfo['title'] }}</h3>
                        <p class="card-text"><strong>Descrição:</strong> {{ productInfo['description'] }}</p>
                        <p class="card-text"><strong>Preço:</strong> R$ {{ productInfo['price'] }}</p>
                        <p class="card-text"><strong>Categoria:</strong> {{ productInfo['category'] }}</p>
                        <a href="{{ productInfo['url'] }}" class="btn btn-danger w-100">Comprar agora!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
