{% extends 'base.html' %}

{% block content %}
<form action="{{ url_for('register') }}" method="POST">
    <label for="title">Nome do Produto:</label>
    <input type="text" id="title" name="title" required><br>

    <label for="value">Preço (R$):</label>
    <input type="text" id="value" name="value" required><br>

    <label for="category">Categoria:</label>
    <input type="text" id="category" name="category" required><br>

    <label for="description">Descrição:</label>
    <textarea id="description" name="description" required></textarea><br>

    <label for="image">Imagem (URL):</label>
    <input type="url" id="image" name="image" required><br>

    <input type="submit" value="Cadastrar">
</form>
{% endblock content %}
