{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <h2>Registrar Venda</h2>
  <form action="{{ url_for('register') }}" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Nome do Produto:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
      />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Preço (R$):</label>
      <input
        type="text"
        class="form-control"
        id="price"
        name="price"
        required
      />
    </div>
    <div class="mb-3">
      <label for="time" class="form-label">Horário:</label>
      <input type="text" class="form-control" id="time" name="time" required />
    </div>
    <button type="submit" class="btn btn-custom" style="background-color: #ffa500">
      Registrar
    </button>
  </form>
  <hr />
  <table class="table table-bordered table-custom">
    <thead>
      <tr>
        <th scope="col">Produto</th>
        <th scope="col">Preço</th>
        <th scope="col">Horário</th>
      </tr>
    </thead>
    <tbody>
      {% for r in records %}
      <tr>
        <td>{{ r.title }}</td>
        <td>{{ r.price }}</td>
        <td>{{ r.time }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  {% endblock content %}
</div>
