.container-custom {
    background: linear-gradient(to bottom, #0056b3, #a1c4fd);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.welcome-container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 15px;
}

.btn-custom {
  background-color: #ffa500;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-custom:hover {
  background-color: #ff8800;
  color:white;
}

.navbar {
    background-color: #0056b3; 
}

.navbar .nav-link {
    color: white !important; 
    transition: 0.3s ease-in-out; 
}

.navbar .nav-link:hover {
    color: #FFA500 !important; 
}

.table-custom {
  background-color: #f8f9fa;
}
.table-custom th, .table-custom td {
  background-color: #ff7f50; 
  color: white;
}
.table-custom th {
  background-color: #1e90ff; 
}

body {
  background-color: #f0f8ff;
}

h2 {
  color: #003366;
  font-weight: bold;
}

.card {
  border: 2px solid #003366;
  background-color: #e6f2ff;
}

.btn-custom {
  background-color: #ffcc00;
  color: #003366;
  font-weight: bold;
  border: none;
}

.btn-custom:hover {
  background-color: #ffd633;
  color: #002244;
}

.img-thumbnail {
  border: 2px solid #ffcc00;
  transition: transform 0.3s;
}

.img-thumbnail:hover {
  transform: scale(1.05);
}

.alert-success {
  background-color: #dff0d8;
  color: #3c763d;
}

.alert-danger {
  background-color: #f2dede;
  color: #a94442;
}